{% extends "base.html" %}

{% block style %}
<style>
  .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 24px;
  }

  .pagination a {
    padding: 10px 16px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
  }

  .pagination a.active {
    background: #5A00C6;
    color: #fff;
  }
  .users {
    display: flex;
    flex-direction: column;
    flex:1;
    gap: 20px;
  }
  .content {
    flex-direction: column;
  }
</style>
{% endblock %}

{% block content %}

<div class="users" style="width:100%; max-width:1000px; margin: 0 auto;">
  {% for user in users %}
  <iframe src="/users/{{ user.id }}" frameborder="0" style="height: 160px !important;"></iframe>
  {% endfor %}
</div>
<br>
<div class="pagination">
  {% if page > 1 %}
  <a href="/users?page={{ page - 1 }}">Oldingi</a>
  {% endif %}

  {% for p in range(1, total_pages + 1) %}
  <a href="/users?page={{ p }}" class="{% if p == page %}active{% endif %}">{{ p }}</a>
  {% endfor %}

  {% if page < total_pages %}
  <a href="/users?page={{ page + 1 }}">Keyingi</a>
  {% endif %}
</div>
{% endblock %}
