<div class="user-card">
    <div class="user-avatar">
        <span>{{ user.username[0] }}</span>
    </div>
    <div class="user-info">
        <div class="user-header">
            <div>
                <div class="user-name">{{ user.username }}</div>
                <div class="user-rank">
                    << {{ status.rank if status.rank else "USER" }} >>
                </div>
                <a class="user-connect"  href='https://salogram.sstudio.uz/chat/{{ user.id }}' target="_parent">
                    Bog'lanish
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    html {
        overflow: hidden;
    }
    .user-card {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 80%;
        height: 110px;
        padding: 18px;
        flex: 0 0 auto;
        min-width: 400px;
        gap: 16px;
        margin: 0;
        background: {{status.color if status.color else '#ffffff'}}38 !important;
        border: 1px solid rgba(15, 23, 42, 0.12);
        border-radius: 20px;
        box-shadow: 0 14px 40px rgba(15, 23, 42, 0.08);
        font-family: Inter, system-ui, sans-serif;
    }

    .user-avatar {
        flex: 0 0 64px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: {{status.color if status.color else '#ffffff'}};
    }
    .user-avatar span {
        font-size :64px;
        text-transform: uppercase;
    }

    .user-info {
        flex: 1 1 240px;
        min-width: 240px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .user-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 16px;
    }

    .user-name {
        font-size: 1.25rem;
        font-weight: 700;
        color: {{status.color if status.color else '#ffffff'}};
        margin-bottom: 6px;
    }

    .user-rank {
        font-size: 2em;
        text-transform: uppercase;
        font-family: monospace;
        color: {{ status.rank_color if status.rank_color else '#111827' }};
        
    }
    {{ status.animation | safe}}
</style>